# Site settings
title: Vinayak Iyer
description: 5th Year PhD Candidate, Department of Economics, Columbia University
url: 'https://vinayakiyer.github.io'
baseurl: ""
google_analytics: 'UA-154586808-1'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'Vinayak Iyer'
  email: vi2137@columbia.edu

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:title/
markdown: kramdown
highlighter: rouge

sass:
    sass_dir: _sass
    style: compressed

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
